.header {
    height: 55px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: white;    
    border-bottom: 1px solid rgb(222, 222, 222);
    z-index: 101;
}
.left-side {
    color: white;
    display: flex;
    align-items: center;
}


.hamburger-menu{
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
    cursor: pointer;
}

.right-side {
    color: white;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}




.middle-side {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 470px;
    display: flex;
    align-items: center;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;

}
.search-button:hover {
    background-color: rgb(239, 239, 239);
}
.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-icons-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -50px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icons-container:hover .tooltip {
  opacity: 1;
  
}
.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    width: 0;
}
.search-bar:focus {
    outline:none;
}
.search-bar::placeholder {
    font-size: 16px;
    
}

.search-icon {
    height: 25px;
    
}
.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-container,
.notifications-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}


.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.voice-search-icon {
    height: 25px;
    
}


.upload-icon {
    height: 25px;
}
.upload-icon-container {
    cursor: pointer;
}

.youtube-apps-icon {
    height: 25px;
}
.youtube-apps-container {
    cursor: pointer;
}


.notifications-icon {
    height: 25px;
}
.my-channel-icon {
    height: 32px;
    border-radius: 16px;
    margin-right: 20px;
    cursor: pointer;
}
.notifications-icons-container {
    position: relative;
    cursor: pointer;
}
.notifications-count {
    background-color: rgb(204, 0, 0);
    font-size: 10px;
    color: white;
    position: absolute;
    top:-2px;
    right:-5px;
    padding: 2px 6px;
    border-radius: 10px;  
}